*{
    margin: 1%;

}

body {
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 125% ;
    color: black;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;

}

header{
    border-radius: 15px;
    padding: 1%;
    width: 35%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(191, 189, 189);
}

p{
    margin-bottom: 5px;
}

#sobre {
    text-align: justify ;
}

#sobre2 {
    text-align: justify;
}

/* este h2 é o "contato" */
h2 {
    
}

/* este h4 é "sobre" */
h4 {
    border-radius: 15px;
    padding: 5px;
    width: 4%;
    background-color: rgb(191, 189, 189); 
}

/* este h3 é "Projetos" */
h3 {
    border-radius: 15px;
    padding: 5px;
    width: 6%;
    background-color: rgb(191, 189, 189);
}

#btnProjeto {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
#btnProjeto:hover {
    background-color: #555;
    transform: scale(1.05);
}

#img1, #img2, #img3 {
    width: 25%;
    height: 25%;
    object-fit: cover;
    margin: 10px;
    border: 2px solid black;
    border-radius: 50px;
}
#img1:hover, #img2:hover, #img3:hover {
    transform: scale(1.10);
}

footer {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    text-align: left;
    max-width: 4500px;
    margin:  20px;
    padding: 10px;
}

#e-mail{
    margin-left: 27px;
}

#d-autoral{
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    border-radius: 15px;
    text-align: right;

    }

    /* Este @media altera qualquer coisa que estiver dentro se a tela for pelo menos 768px (neste caso), para tela de celulares.*/
    @media (max-width: 768px) {
        header {
            width: 70%;
        }

        h4 {
            width: 7%;
        }

        h3 {
            width: 12%;
            
        }

        #img1, #img2, #img3 {
            width: 20%;
        }
    }